.thumbnail {
  width: 100%;
}

.video-title {
  display: block;
  font-family: Roboto, Arial;
  color: black;
  text-decoration: none;
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 800px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 801px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 10px;
  right: 8px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.channel-picture-container {
  position: relative;
  display: inline-block;
}

.channel-tooltip {
  font-family: Roboto, Arial;
  padding: 12px;
  width: 200px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: white;
  pointer-events: none;
  position: absolute;
  top: 40px;

  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.15s;
  z-index: 102;
}

.channel-picture-container:hover .channel-tooltip {
  opacity: 1;
}

.channel-tooltip-picture {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
}

.channel-tooltip-name {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 3px;
}

.channel-tooltip-subscribers {
  color: rgb(118, 118, 118);
  font-size: 14px;
}